{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoVisa</title>
   <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} {% endblock %}
</head>
<body>
  <!-- Navbar -->
  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">GoVisa</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li><a href="{% url 'cat-index' %}">All Visas</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
          {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> {% endcomment %}
  <ul>
  <li><a href="{% url 'visa-index' %}">All Visas</a></li>
  <li><a href="{% url 'visa-create' %}">Add a Visa</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{% url 'contact_admin' %}">Message</a></li>
</ul>

  <!-- Page Content -->
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
