{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoVisa</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  {% block head %}{% endblock %}
</head>
<body>
 
  <nav>
    <div class="nav-inner">
      <a class="brand" href="{% url 'home' %}">[🌐] GoVisa</a>
      {% comment %} <img src="{% static 'images/nav.png' %}" alt="GoVisa Logo" class="logo-img" /> {% endcomment %}
      <ul class="nav-links">
        <a href="{% url 'about' %}">About</a>

        {% if user.is_authenticated and not user.is_staff %}
          <a href="{% url 'visa-index' %}">My Visas</a>
          <a href="{% url 'visa-create' %}">Add Visa</a>
          <a href="{% url 'inbox' %}">Inbox</a>
        {% endif %}

        {% if user.is_staff %}
          <a href="{% url 'admin-dashboard' %}">Admin Dashboard</a>
          
          {% if user.is_authenticated %}
            <a href="{% url 'inbox' %}">Inbox</a>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
          
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn-highlight">Logout</button>
            </form>
          
        {% else %}
          <a href="{% url 'signup' %}">Signup</a>
          <a href="{% url 'home' %}">Login</a>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% if user.is_authenticated %}
    <p class="center mt-1">Welcome, {{ user.username }}</p>
  {% endif %}

  
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
