{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/visas/visa-detail.css' %}" />
{% endblock %}

{% block content %}
<section class="visa-container">
  <div class="visa-img">
    <img src="{% static 'images/passport-icon.jpg' %}" alt="Visa Passport Icon" />
  </div>

<div class="visa-details">
  <h1>{{ visa.full_name }}</h1>
  <h2>Passport Number: {{ visa.passport_number }}</h2>
  <p><strong>Destination Country:</strong> {{ visa.destination_country }}</p>
  <p><strong>Travel Date:</strong> {{ visa.travel_date|date:"F j, Y" }}</p>
  <p><strong>Status:</strong> {{ visa.status }}</p>

  <div class="visa-actions">
  {% if user.is_staff %}
    <form method="post" action="{% url 'update-visa-status' visa.id %}">
      {% csrf_token %}
      <select name="status">
        {% for key, val in visa.STATUS_CHOICES %}
          <option value="{{ key }}" {% if visa.status == key %}selected{% endif %}>
            {{ val }}
          </option>
        {% endfor %}
      </select>
      <button type="submit">Update</button>
    </form>
  {% elif visa.user == request.user and visa.status != "Completed" %}
    <a href="{% url 'visa-update' visa.id %}">Edit</a>
    <a href="{% url 'visa-delete' visa.id %}">Delete</a>
  {% endif %}
</div>
{% if visa.document %}
  {% if user.is_staff or visa.user == user and visa.status == "Completed" %}
    <p>📎 File: <a href="{{ visa.document.url }}" target="_blank">Download</a></p>
  {% endif %}
{% endif %}
{% if visa.user_message %}
  <div class="alert">{{ visa.user_message }}</div>
{% endif %}



</div>

</section>
{% endblock %}
